[Desktop Entry]
Name=Sway with Nvidia
Comment=An i3-compatible Wayland compositor
#Exec=sway --unsupported-gpu
Exec=/home/steven/.config/sway/run-sway
Type=Application
