[submodule "submodules/dircolors-solarized"]
	path = submodules/dircolors-solarized
	url = git@github.com:seebi/dircolors-solarized.git
[submodule "submodules/alacritty-theme"]
	path = submodules/alacritty-theme
	url = git@github.com:eendroroy/alacritty-theme.git
