[submodule "submodules/dircolors-solarized"]
	path = submodules/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "submodules/alacritty-theme"]
	path = submodules/alacritty-theme
	url = https://github.com/alacritty/alacritty-theme.git
